/* =====================================================
   IMÁGENES
===================================================== */

.hero-panel {
    background:
        linear-gradient(
            rgba(7, 43, 65, .82),
            rgba(10, 60, 83, .90)
        ),
        url("https://images.unsplash.com/photo-1450101499163-c8848c66ca85?auto=format&fit=crop&w=1200&q=80");

    background-size: cover;
    background-position: center;
}


/* IMAGENES DE SERVICIOS */

.auto-icon {
    background:
        linear-gradient(rgba(234,244,255,.75), rgba(234,244,255,.75)),
        url("https://images.unsplash.com/photo-1492144534655-ae79c964c9d7?auto=format&fit=crop&w=600&q=80");

    background-size: cover;
    background-position: center;
}

.moto-icon {
    background:
        linear-gradient(rgba(255,244,232,.75), rgba(255,244,232,.75)),
        url("https://images.unsplash.com/photo-1558981806-ec527fa84c39?auto=format&fit=crop&w=600&q=80");

    background-size: cover;
    background-position: center;
}

.hogar-icon {
    background:
        linear-gradient(rgba(237,249,238,.75), rgba(237,249,238,.75)),
        url("https://images.unsplash.com/photo-1600585154340-be6161a56a0c?auto=format&fit=crop&w=600&q=80");

    background-size: cover;
    background-position: center;
}

.vida-icon {
    background:
        linear-gradient(rgba(255,240,246,.75), rgba(255,240,246,.75)),
        url("https://images.unsplash.com/photo-1511895426328-dc8714191300?auto=format&fit=crop&w=600&q=80");

    background-size: cover;
    background-position: center;
}

.objetos-icon {
    background:
        linear-gradient(rgba(240,239,255,.75), rgba(240,239,255,.75)),
        url("https://images.unsplash.com/photo-1494438639946-1ebd1d20bf85?auto=format&fit=crop&w=600&q=80");

    background-size: cover;
    background-position: center;
}

.comercio-icon {
    background:
        linear-gradient(rgba(234,248,245,.75), rgba(234,248,245,.75)),
        url("https://images.unsplash.com/photo-1521791055366-0d553872125f?auto=format&fit=crop&w=600&q=80");

    background-size: cover;
    background-position: center;
}
